<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./style/style.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app">
        <header>
        </header>

        <main class=""> 
            <div class=" flex wrapper">
                <!-- CASELLA DI SINISTRA CON LISTA CONTATTI-->
                <div class="left-box">
                    <article class="flex bg-light">
                        <div class="flex">
                            <img class="icon-to-talk" src="./img/avatar_io.jpg" alt="my profile picture">
                            <p>Sofia</p>
                        </div>
                        
                        <span>
                            <i class="fa-solid fa-circle-notch" style="color: #b0b0b1;"></i>
                            <i class="fa-solid fa-message" style="color: #b0b0b1;"></i>
                            <i class="fa-solid fa-ellipsis-vertical" style="color: #b0b0b1;"></i>
                        </span>
                    </article>
                    <article class=" flex flex-start bg-blue">
                        <i class="fa-regular fa-bell-slash" style="color: #8edafc;"></i> 
                        <div>
                            <p class="fs-s">Ricevi notifiche dei nuovi messaggi</p>
                            <p class="fs-xs underline ">Attiva notifiche desktop</p>
                        </div>                       
                    </article>
                    <article class="bg-white">
                        <input class=" search-chat" type="text" name="search o start a new chat" id="search o start a new chat" placeholder="Cerca o inizia una nuova chat">
                    </article>
                    <article class="flex bg-white p-rem" v-for="(contact, index) in contacts">
                        <div class="flex " :dataIndex=" index" @click="changeChat(index) " >
                                            <!--data index è l'indice dei contatti -->
                            <img class="reduced-img" :src="contact.avatar" alt="picture of the contacts ">
                            <div>
                                <p class="fs-s">{{contact.name}}</p>
                                <p class="fs-xs">Ultimo messaggio inviato</p>
                            </div>
                        </div>
                        <p class="fs-xs">12:00</p>
                    </article>
                </div>
                
                <!-- CASELLA DI DESTRA CON CHAT -->
                <div class="right-box"> 
                    <article class="flex bg-light">
                        <div class="flex">
                            <img class="icon-to-talk" src="./img/avatar_1.jpg" alt="photo of the person you are talking to">
                            <div>
                                <p class="fs-s">Michele</p> 
                                <p class="fs-xs">Ultimo accesso oggi alle 12.00</p>
                            </div>
                        </div>
                        <span>
                            <i class="fa-solid fa-magnifying-glass" style="color: #b0b0b1;"></i>
                            <i class="fa-solid fa-paperclip" style="color: #b0b0b1;"></i>
                            <i class="fa-solid fa-ellipsis-vertical" style="color: #b0b0b1;"></i>
                        </span>
                    </article>

                    <article class="bg-picture clearfix" >
                        <div class="" v-for="(msg, indexMsg) in contacts[activeIndex].messages" >
                            <!-- per ogni messaggio, se lo status è inviato, do la classe green, altrimenti white -->
                            <p :class="msg.status=== 'sent' ? 'green' : 'white' " class="flex">{{ msg.message}} <span class="fs-xs">12:00</span></p>
                        </div>
                       
                    </article>
                    <article class=" flex footer">
                        <i class="fa-regular fa-face-smile" style="color: #69747f;"></i>
                        <input class="message" type="text" name="write a message" id="write a message" placeholder="Scrivi un messaggio" v-model="text" @keyup.enter="newMessageSent(text)">
                        <i class="fa-solid fa-microphone" style="color: #69747f;"></i>
                    </article>
                    
                </div>
            </div>  
        </main>
    </div>

    <script src="./js/script.js"></script>

    
</body>
</html>