/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEX */
.flex{
   display: flex;
   justify-content: center;
   align-items: center; 
}

header{
    height: 15vh;
    background-color:rgb(0, 150, 136) ;
}

main{
    height: 85vh;
    background-color: rgb(214, 219, 215);
}

div.wrapper{
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50px;
    left: 150px;
    flex-direction: row;
}

.left-box{
width: 40%;
height: 100%;
background-color: rgb(0, 30, 255);
}

.right-box{
width: 60%;
height: 100%;
background-color: rgb(170, 255, 0);
}
