/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEX */
.flex{
   display: flex;
   justify-content: space-between;
   align-items: center; 
}


/* BACKGROUND */
article.bg-light{
    background-color:rgb(234, 234, 234) ;
    padding: 0.5rem;
}

article.bg-picture{
    height: 83%;
    background-image: url(../img/mine.jpg);
}

article.footer{
    background-color: rgb(243, 238, 234);
}


/* ICONS */
i{
    padding: 0.5rem;
}

i.fa-regular.fa-face-smile,
i.fa-solid.fa-microphone{
    font-size: 1rem;
}


header{
    height: 15vh;
    background-color:rgb(0, 150, 136) ;
}

main{
    height: 85vh;
    background-color: rgb(214, 219, 215);
}

div.wrapper{
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
}

.left-box{
width: 35%;
height: 100%;
border: 0.5px solid gray;
}

.right-box{
width: 65%;
height: 100%;
border: 0.5px solid gray;
border-left: transparent;
}

article img.icon-to-talk{
    width: 2.5rem;
    border-radius: 2rem;
}

article p .fs-s{
    font-size: 0.9rem;}

article p.fs-xs{
    font-size: 0.7rem;
    margin-top: 0.3rem;
}
